name: Lint Dockerfiles

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4.1.6

      - run: brew install hadolint

      - run: |
          hadolint {3.1,3.2,3.3}/**/*Dockerfile
          hadolint {3.1,3.2,3.3}/**/**/*Dockerfile
