name: Lint Dockerfiles

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - run: brew install hadolint
      - run: |
          hadolint {2.7,3.0,3.1}/**/*Dockerfile
          hadolint {2.7,3.0,3.1}/**/**/*Dockerfile
