name: Lint Dockerfiles

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - run: brew install hadolint

      - run: |
          hadolint {3.2,3.3,3.4,4.0}/**/*Dockerfile
          hadolint {3.2,3.3,3.4,4.0}/**/**/*Dockerfile
